@page "/pizzacrust"
@rendermode InteractiveServer

<h3>Pizza Crust</h3>

<label>
	<input type="radio" @bind='pizza.PizzaCrust.Thin' />
	Thin
</label>

<label>
	<input type="radio" @bind='pizza.PizzaCrust.Pan' />
	Pan
</label>

<label>
	<input type="radio" @bind='pizza.PizzaCrust.Hand' />
	Hand
</label>

<p>Topping Selection</p>
<ul>
	@if (pizza.PizzaCrust.Thin)
	{
		<li>Thin Crust - 5.99</li>
	}
	@if (pizza.PizzaCrust.Pan)
	{
		<li>Pan Crust - 7.99</li>
	}
	@if (pizza.PizzaCrust.Hand)
	{
		<li>Hand Tossed 6.99</li>
	}
</ul>

@code {
	[Parameter]
	public Pizza pizza { get; set; }
}
