@page "/pizzatopping"
@rendermode InteractiveServer

<h3>Pizza Topping</h3>

<label>
	<input type="checkbox" @bind='pizza.PizzaTopping.Pepperoni' />
	Pepperoni
</label>

<label>
	<input type="checkbox" @bind='pizza.PizzaTopping.Sausage' />
	Sausage
</label>

<label>
	<input type="checkbox" @bind='pizza.PizzaTopping.Ham' />
	Ham
</label>

<label>
	<input type="checkbox" @bind='pizza.PizzaTopping.Chicken' />
	Chicken
</label>

<p>Topping Selection</p>
<ul>
	@if (pizza.PizzaTopping.Pepperoni)
	{
		<li>Pepperoni - 1.50</li>
	}
	@if (pizza.PizzaTopping.Sausage)
	{
		<li>Extra Cheese - 2.00</li>
	}
	@if (pizza.PizzaTopping.Ham)
	{
		<li>Ham - 1.79</li>
	}
	@if (pizza.PizzaTopping.Chicken)
	{
		<li>Chicken - 3</li>
	}
</ul>

@code {
	[Parameter]
	public Pizza pizza { get; set; }
}
