@page "/pizzacrust"
@rendermode InteractiveServer

<h3>Pizza Crust</h3>

<label>
	<input type="radio" @bind='pizza.PizzaCrust.Thin' />
	Thin
</label>

<label>
	<input type="radio" @bind='pizza.PizzaCrust.Pan' />
	Pan
</label>

<label>
	<input type="radio" @bind='pizza.PizzaCrust.Hand' />
	Hand
</label>

<p>Topping Selection</p>
<ul>
	@if (pizza.PizzaCrust.Thin)
	{
		<li>Thin</li>
	}
	@if (pizza.PizzaCrust.Pan)
	{
		<li>Pan</li>
	}
	@if (pizza.PizzaCrust.Hand)
	{
		<li>Hand</li>
	}
</ul>

@code {
	Pizza pizza = new Pizza();
}
